:root {
    --header-bg: #242526;
    --icon-text-color: #b0b3b8;
    --active-icon-color: #2374e1;
}

.side-menu-container {
    width: 30%;
    background-color: #18191a;
    min-height: 100vh;
    color: var(--icon-text-color);
    display: flex;
    flex-direction: column;
}

.user-container {
    border-bottom: #242526 1px solid;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.user-subcontainer {
    display: flex;
    align-items: center;
    padding: 15px 0 15px 20px;
    height: fit-content;
}

.user-subcontainer:hover {
    background-color: #1e1f20;
    cursor: pointer;
}

.online-user-image {
    width: 56px;
    height: 56px;
    min-width: 35px;
    min-height: 35px;
    margin-right: 3%;
    position: relative;
}

.online-user-image img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
}

.status-indicator {
    background-color: gray;
    position: absolute;
    top: 45px;
    right: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.online-status {
    background-color: green;
}

.side-icons-container {
    display: none;
    flex-direction: column;
    cursor: pointer;
    align-items: center;
}

.side-icons-container svg {
    margin: 15px 0;
}

@media (max-width: 992px) {}

@media (max-width: 767px) {
    .user-subcontainer {
        padding-left: 0;
        padding-right: 0;
    }
    .user-container {
        align-items: center;
    }

    .side-menu-container {
        width: 12%;
    }

    .online-user-name {
        display: none;
    }

    .online-user-image {
        margin-right: 0px;
    }

    .side-icons-container {
        display: flex;
    }
}